<h3> English Words </h3>
<%= link_to 'All English Words', controller: 'words' %>
<br>
<%= link_to 'Import Words from CSV file', import_words_path %>
<br>
<%= link_to 'Add a New Word', new_word_path %>
<br>
<%= link_to 'Delete all Words', delete_all_words_path %>
<br>
<br>

<h3> Single Choices </h3>
<%= link_to 'All Single Choice Questions', controller: 'single_choices'%>
<br>
<%= link_to 'Create a New Single Choice Question', new_single_choice_path%>
<br>
<%= link_to 'Generate Single Choice Questions from Words', generate_single_choice_words_path%>
<br>
<br>

<h2> Sorts </h2>
<%= link_to 'All Sort Questions', controller: 'sorts'%>
<br>
<%= link_to 'Create a New Sort Question', new_sort_path%>
<br>
<br>

<h2> Listen and Completes </h2>
<%= link_to 'All Listen and Complete Questions', controller: 'listen_completes' %>
<br>
<%= link_to 'Create a New Listen and Complete Question', new_listen_complete_path %>
<br>
<%= link_to 'All the Sound Files', controller: 'sound_files' %>
<br>
<%= link_to 'Upload a sound File', new_sound_file_path %>
<br>
<br>

<h2> Tests </h2>
<%= link_to 'All Tests', controller: 'tests' %>
<br>
<%= link_to 'Create a New Test', new_test_path %>
<br>
<%= link_to 'All Test Results', test_results_path %>
<h2> --------------------------------------------------------------- for Bob, you father David</h2>
