<h1>田小鹏 Booooo, Welcome to All the SuperABC Tests!!!</h1>

<h2> <%=link_to "Delete All", delete_all_tests_path %> </h2>

<table border="1">
    <tr>
      <th>Name </th>
      <th>Description </th>
      <th>Delete</th>
      <th>Show</th>
      <th>Run</th>
    </tr>
<% @tests.each do |test| %>
    <tr>
      <td><%= test.name %></td>
      <td><%= test.desc %></td>
      <td><%= link_to 'Delete', test, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <td><%= link_to 'Show', test, method: :get%></td>
      <td><%= link_to 'GO!!!', test_run_path(test), method: :post, data: {confirm: 'Ready for test?'} %></td>
    </tr>
<% end %>
</table>

